/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
    font-family:Microsoft YaHei;
}

input{
    background:none;
    outline:none；
}
textarea{resize:none}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1  Microsoft YaHei,Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol { list-style: none; }
/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: none; }
abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}
q:before, q:after { content: ''; }
/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}
#pdf-container{
    text-align:center;
}
.pdfClass{
    border: solid 1px #ccc;
    width:100%;
}
a[href]{
    cursor: pointer;
}
/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* 重置 hr */
hr {
    border: none;
    height: 1px;
}
body{
    height:100%;
}
/*common*/
.container{
    width: 100%;
    max-width:1200px;
    margin:0 auto;
}
.conPDF{
    padding:20px 0px;
    margin:auto;
}
/*header*/
.header{
    height:135px;
    width:100%;
    background-color: #1E82D7;
    border-bottom:#57B2FF solid 4px;
}
.logo{
    float:left;
    display: block;
    width:400px;
    height:135px;
    background:url("icon/logo.png") no-repeat center;
}
.navList{
    display: none;
}
.search form{
    width:250px;
    height:40px;
    float:right;
}
.search input{
    float:left;
    display:block;
    width:200px;
    height:40px;
    line-height:40px;
    background-color: #FFF;
    margin-top:42px;
    -webkit-border-radius:5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius:5px 0 0 5px;
    border:none;
    padding-left:10px;
}
.search input::-webkit-input-placeholder{
    color:#9E9E9E;
}
.search input:-moz-placeholder{
    color:#9E9E9E;
}
.search input::-moz-placeholder{
    color:#9E9E9E;
}
.search input:-ms-input-placeholder{
    color:#9E9E9E;
}
.search button{
    float:right;
    outline: none;
    cursor:pointer;
    height:40px;
    width:40px;
    margin-top:42px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius:0 5px 5px 0;
    border:none;
    background:url("icon/search.png") no-repeat center;
    background-color: #FFF;
}
<<<<<<< HEAD
.bread img{
    width:15px;
    height:19px;
    margin-right:10px;
    margin-top:13px;
    display: block;
    float:left;
}
.bread a{
    color:#717171;
}
.bread a:hover{
    color:#1E82D7;
}
.bread{
    height:46px;
    width:100%;
    border-bottom:#e4e4e4 solid 1px;
    line-height: 46px;
    color:#717171;
}

@media screen and (max-width:1230px) {

    .bread .container{
        width:90%;
        margin:0 5%;
    }
=======
@media screen and (max-width:1230px) {
>>>>>>> parent of 1044068... fixed
    .header .container{
        width:90%;
        margin:0 5%;
    }
}
@media screen and (max-width:768px){
<<<<<<< HEAD

    .bread .container{
        width:96%;
        margin:0 auto;
    }
=======
>>>>>>> parent of 1044068... fixed
    .header{
        height: 64px;
        border-bottom:#57B2FF solid 2px;
    }
    .navList{
        display: block;
        width:20px;
        height: 20px;
        margin:22px 0 22px 0;
        float:right;
        background: url("icon/list.png") no-repeat;
        background-size:cover;
    }
    .search{
        display: none;
    }
    .logo{
        width:195px;
        height:38px;
        background-size: contain;
        margin-top: 13px;
    }
}
/*end header*/

/*nav*/
.nav{
    background-color: #ffffff;
    height:54px;
}
.rightArr{
    display: none;
}
.return{
    display: none;
}
.mobileSearch{
    display: none;
}
.nav .container li{
    float:left;
    width:12.5%;
    height:55px;
}
.navItem{
    display: block;
    text-align: center;
    font-size:16px;
    line-height:55px;
    color:#757575;
    width:100%;
    height:100%
}
.navItem:hover{
    background-color: #1E82D7;
    color:#FFF;
}
@media screen and (max-width:768px){
    .nav{
        display:none;
        position: absolute;
        top:0;
        z-index: 100;
        width:100%;
        height: 667px;
        background-color: #1E82D7;
        animation: navSlide 0.5s;
        -moz-animation: navSlide 0.5s;  /* Firefox */
        -webkit-animation: navSlide 0.5s;   /* Safari 和 Chrome */
        -o-animation: navSlide 0.5s;    /* Opera */
    }
    @keyframes navSlide
    {
        from {left:100%}
        to {left:0}
    }
    @-moz-keyframes navSlide /* Firefox */
    {
        from {left:100%}
        to {left:0}
    }
    @-webkit-keyframes navSlide /* Safari 和 Chrome */
    {
        from {left:100%}
        to {left:0}
    }
    @-o-keyframes navSlide /* Opera */
    {
        from {left:100%}
        to {left:0}
    }
    @keyframes navSlideOut
    {
        from {left:0}
        to {left:100%}
    }
    @-moz-keyframes navSlideOut /* Firefox */
    {
        from {left:0}
        to {left:100%}
    }
    @-webkit-keyframes navSlideOut /* Safari 和 Chrome */
    {
        from {left:0}
        to {left:100%}
    }
    @-o-keyframes navSlideOut /* Opera */
    {
        from {left:0}
        to {left:100%}
    }
    .nav .container{
        width:90%;
        margin:0 5%;
    }
    .nav .container li{
        width:100%;
        border-top: #238AEA solid 1px;
    }
    .nav .container li:last-child{
        border-bottom:#238AEA solid 1px ;
    }
    .nav .container li a{
        height:50px;
        font-size:18px;
        line-height: 50px;
    }
    .navItem{
        color:#fff;
        text-align: left;
        width:90%;
        float:left;
    }
    .rightArr{
        display: block;
        padding-left:2%;
        color:#fff;
        font-weight: lighter;
        float: right;
    }
    .return{
        display: block;
        height:20px;
        width:90%;
        margin:23px auto;
    }
    .return a{
        float: right;
        height:20px;
        width:20px;
        display: block;
        background:url("icon/return.png") no-repeat center;
        background-size:contain;
    }
    .mobileSearch{
        width:90%;
        display:block;
        height:50px;
        margin:0 auto 23px auto;
        position: relative;
    }
    .mobileSearch input{
        z-index: 1;
        position: absolute;
        display:block;
        width:95%;
        height:36px;
        line-height:36px;
        background-color: #FFF;
        -webkit-border-radius:2px;
        -moz-border-radius: 2px;
        border-radius:2px;
        border:none;
        padding-left:5%;
    }
    .mobileSearch input::-webkit-input-placeholder{
        color:#9E9E9E;
    }
    .mobileSearch input:-moz-placeholder{
        color:#9E9E9E;
    }
    .mobileSearch input::-moz-placeholder{
        color:#9E9E9E;
    }
    .mobileSearch input:-ms-input-placeholder{
        color:#9E9E9E;
    }
    .mobileSearch button{
        position: relative;
        z-index: 2;
        float: right;
        outline: none;
        cursor:pointer;
        height:36px;
        width:36px;
        -webkit-border-radius:  2px;
        -moz-border-radius:  2px;
        border-radius:2px;
        border:none;
        background:url("icon/search.png") no-repeat center;
        background-color: #FFF;
    }
}
/*end nav*/

/*banner*/
.banner{
    width:100%;
    height:100%;
}
.banner img{
    width:100%;
    height:100%;
}
.bannerMo{
    display: none;
}
@media screen and (max-width:768px){
    .bannerPC{
        display: none;
    }
    .bannerMo{
        display: block;
    }
}
/*end banner*/

/*footer*/
.footer1{
    clear:both;
    background-color:#2A303C ;
    height: 100%;
    color:#FFF;
}
.footer{
    clear:both;
    background-color:#2A303C ;
    height: 100%;
    color:#FFF;
}
.list{
    float:left;
    width:25%;
    margin-top:20px;
    height:240px;
}
.listTitle{
    color:#FFF;
    height: 30px;
    padding:10px 0;
    vertical-align: middle;
    line-height: 30px;
    font-size:16px;
    width:60%;
    border-bottom: solid 1px rgba(255,255,255,0.25);
    margin-bottom: 5px;
}
.listTitle img{
    display: block;
    height:30px;
    width:30px;
    float:left;
    margin-right: 10px;
}
.list li{
    display: block;
    height: 30px;
    line-height: 30px;
}
.list a{
    color:rgba(255,255,255,0.6);
}
.list a:hover{
    color:#FFF;
}
.bottom{
    color:#FFF;
    clear:both;
    width:100%;
    height:56px;
    line-height: 56px;
    text-align: center;
    border-top:#3F444F solid 1px;
    opacity: 0.6;
    box-shadow: 0 -1px 0 #212733;
}
.bottom1
{
    color:#FFF;
    clear:both;
    width:100%;
    height:56px;
    line-height: 56px;
    text-align: center;
    border-top:#3F444F solid 1px;
    opacity: 0.6;
    box-shadow: 0 -1px 0 #212733;
}
<<<<<<< HEAD
.paginator{
    overflow: hidden;
}
.paginator1{
    display:none;
}
.paginator2{
    overflow: hidden;
    width:500px;
    font-size:0;
    margin:30px auto;
    height:52px;
}
.paginator2 a:first-child{
    display: none;
}
.paginator2 a:last-child{
    display: none;
}
.paginator2 select{
    display: none;
}
.paginator2 a{
    width:40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    background-color:#FFF;
    color:#B5B5B5;
    border: #DDD solid 1px;
    font-size:14px;
    margin:5px;
    float:left;
    overflow: hidden;
}
.paginator2 span {
    width:40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    background-color:#1E82D7;
    font-size:14px;
    color:#FFF;
    border: #1E82D7 solid 1px;
    margin:5px;
    float:left;
}

.paginator2 a:hover{
    color:#FFF;
    background-color: #1E82D7;
}
=======
>>>>>>> parent of 1044068... fixed
@media screen and (max-width:1230px){
    .footer1{
        background-color: #FFF;
    }

    .footer{
        background-color: #f8fafc;
    }
    .list{
        display: none;
    }
    .bottom1{
        width:80%;
        margin:0 auto;
        background-color: #FFF;
        box-shadow: none;
        border-top:#D4D4D4 solid 1px;
        color:#ABABAB;
    }
    .bottom{
        width:80%;
        margin:0 auto;
        background-color: #f8fafc;
        box-shadow: none;
        border-top:#D4D4D4 solid 1px;
        color:#ABABAB;
    }
}
/*end footer*/

/*end common*/

/*index*/
.title{
    width:195px;
    height:41px;
    color:#1E82D7;
    font-size:28px;
    line-height: 41px;
    text-align: center;
    margin:0 auto 36px auto;
    background:url("icon/border.png") no-repeat center;
}
@media screen and (max-width:786px){
    .title{
        margin:0 auto 24px auto;
    }
}
.more a{
    display: block;
    width:120px;
    height:40px;
    font-size:16px;
    color:#6D6D6D;
    line-height: 40px;
    text-align: center;
    border: #C3C3C3 solid 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.more a:hover{
    background-color: #1E82D7;
    color:#FFF;
    font-size:16px;
}

/*intro*/
.intro{
    background-color: #ffffff;
    height:100%;
    padding-top:40px;
    padding-bottom:50px;
}
.intro .container{
    height:345px;
    position: relative;
    z-index: 0;
}
.intro img{
    position: absolute;
    z-index:10;
    width:374px;
    height: 244px;
    bottom:50px;
}
.course{
    position: relative;
    z-index: 1;
    float: right;
    width:716px;
    height:243px;
    font-size:16px;
    line-height: 32px;
    color:#616161;
    padding:55px 55px 47px 142px;
    box-shadow: 0 0 20px #E2E2E2;
}
.course .more{
    position: absolute;
    bottom:47px;
    right:55px;
}
@media screen and (max-width:1230px) {
    .intro img{
        display: none;
    }
    .course{
        width:80%;
        padding: 5%;
        float: none;
        margin:auto;
    }
}
@media screen and (max-width:768px){
    .intro .container{
        height: 100%;
    }
    .intro{
        padding-bottom: auto;
    }
    .cover img{
        display: none;
    }
    .course{
        height: 100%;
        width:90%;
        padding:auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        float: none;
    }
    .course .more{
        position: relative;
        margin:40px auto;
        bottom:inherit;
        right:inherit;

    }
    .course .more a{
        margin:auto;
    }
}
/*end intro*/


/*teach*/
.teach{
    height:100%;
    padding-top:40px;
    padding-bottom:50px;
    width: 100%;
    background-color: #F7F8FA;
}
.teach .container{
    overflow: hidden;
    height: 100%;
}
.teach li{
    float: left;
    width:22%;
    height:40px;
    margin:10px auto 5px 3%;
}
.teach li a{
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    display: block;
    border-bottom:#DADADA solid 1px;
    width:75%;
    height:100%;
    line-height: 40px;
    font-size:16px;
    color:#454545;
}
.teach li a:hover{
    color:#1E82D7;
}
@media screen and (max-width:768px){
    .teach li{
        float: left;
        width:45%;
        height:40px;
        margin:10px auto 5px 5%;
    }
    .teach li a{
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        display: block;
        border-bottom:#DADADA solid 1px;
        width:90%;
        height:100%;
        line-height: 40px;
        font-size:14px;
        color:#454545;
    }
}
/*end teach*/

/*sci*/
.sci{
    background-color:#ffffff;
    height:100%;
    padding-top:40px;
    width: 100%;
}
.clear{
    clear: both;
}
.sci .more{
    float:none;
    margin:40px auto;
    width:120px;
    height:42px;
}
.news{
    width:33%;
    float:left;
    height:100%;

}
.news:nth-child(2){
    border-left:#E3E3E3 solid 1px;
    border-right:#E3E3E3 solid 1px;
}
.news a{
    width:100%;
    height:100%;
}
.date{
    width:25%;
    float:left;
    color:#1E82D7;
}
.text{
    width:75%;
    float:left;
}
.day{
    font-size:26px;
    line-height:30px;
    height:30px;
    width:100%;
    text-align: center;
    margin-top:10px;
}
.yearM{
    width:100%;
    text-align: center;
}
.text a:hover{
    color:#1E82D7;
}
.newsTitle a{
    display: block;
    font-size:18px;
    width:90%;

    margin-right:30px;
    line-height: 28px;
    color:#3D3D3D;
}
.newsCon a{
    display: block;
    color:#808080;
    width:90%;

    margin-right:30px;
    margin-top:5px;
    font-size:14px;
    line-height: 24px;
}
@media screen and (max-width:1200px){
    .newsTitle a{
        overflow: hidden;
    }
}
@media screen and (max-width:768px){
    .news{
        width:95%;
        margin:0 2.5%;
    }
    .news:nth-child(2){
        border:none;
    }
    .date{
        width:15%;
        margin-right:2%;
    }
    .day{
        margin-top:0;
    }
    .text{
        width:77%;
        margin-left:2%;
    }
    .news{
        height:100%;
    }
    .newsCon a{
        margin-bottom:30px;
        font-size:12px;
        width:100%;
        line-height:20px;
    }
    .newsTitle a{
        overflow: visible;

        line-height: 20px;
        font-size:14px;
        width: 100%;
    }
    .sci .more{
        margin-top:10px;
    }
}
/*end sci*/

/*slider*/
.slider{
    clear: both;
}
.swiper-container {
    height:100%;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
}
.swiper-wrapper {
    position:relative;
    width:100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;
    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;
    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);
    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;
    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    float: left;
    width:100%;
    height:100%
}
.swiper-slide img{
    width:100%;
}
.swiper-slide a{
    width:100%;
    height: 100%;
}
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}
<<<<<<< HEAD
.pagination {
=======
.pc-slider .pagination {
>>>>>>> parent of 1044068... fixed
    position: absolute;
    z-index: 20;
    bottom: 16px;
    width: 100%;
    text-align: center;
}
.pc-slider .swiper-pagination-switch {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    background: #85E6BA;
    margin: 0 5px;
    opacity: 0.25;
    cursor: pointer;
}
<<<<<<< HEAD
.swiper-active-switch {
=======
.pc-slider .swiper-active-switch {
    background: #fff;
    opacity: 1;
}
.mobile-slider .pagination {
    position: absolute;
    z-index: 20;
    bottom: 16px;
    width: 100%;
    text-align: center;
}
.mobile-slider .swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #85E6BA;
    margin: 0 5px;
    opacity: 0.25;
    cursor: pointer;
}
.mobile-slider .swiper-active-switch {
>>>>>>> parent of 1044068... fixed
    background: #fff;
    opacity: 1;
}
.slider-mobile{
    display: none;
}
.mobile-slider{
    display: none;
}
@media screen and (max-width:768px) {
    .mobile-slider{
        display: block;
    }
    .pc-slider{
        display: none;
    }
}
/*end slider*/
/*end index*/

/*intro*/
.intro_content .container{
    margin:50px auto 70px auto;
    font-size:16px;
    line-height: 32px;
}
.intro_content img{
    display: block;
    margin:40px auto;
}
/*end intro*/

/*catolog*/
.catalog{
    margin-top: 20px;
}
.catalog .container .cata  li{
    width:100%;
    border-bottom:#D1D1D1 dashed 1px;
    height:72px;
    font-size:16px;
    line-height: 72px;
    list-style: disc outside;
    float: right;
    clear: both;
}
.catName{
    color:#383838;
    height:72px;
<<<<<<< HEAD
    line-height: 72px;
    width:80%;
    max-width:1000px;
=======
    width:auto;
    overflow: hidden;
>>>>>>> parent of 1044068... fixed
    display: block;
    float: left;
}
.catName:hover{
    color:#1E82D7;
}
.catDate{
    float:right;
    display: block;
    margin-right: 10px;
}
<<<<<<< HEAD
.catalog .more{
    display: none;
}
@media screen and (max-width: 1230px){
    .catalog{
        width:90%;
    }
    .catName{
        height:auto;

    }
}
@media screen and (max-width: 768px){
    .cata  li{
        height:auto;
        border-bottom:#D1D1D1 solid 1px;
    }
    .cata  li:last-child{
        border-bottom:none;
    }
    .catName{
        overflow: initial;
        text-overflow: initial;
        white-space: initial;
        display: block;
        margin-top:12px;
        float: none;
        font-size: 15px;
        line-height:24px;
        width: 100%;
    }
    .catDate{
        display: block;
        line-height: 12px;
        height:12px;
        float: none;
        margin-top:10px;
        margin-bottom:16px;
        font-size: 12px;
    }
    .catalog .more{
        display: block;
        width:100%;
        margin-top:40px;
    }
    .catalog .more a{
        width:99%;
    }
}
=======

>>>>>>> parent of 1044068... fixed
/*end cata*/

/*teach*/

.teach_list{
    padding:55px 0 82px 0;
    clear:both;
    display: block;
    background-color: #F7F9FC;
    height:100%;
    width:100%;
    overflow: auto;
}
.teach_item{
    margin-bottom:30px;
    width:1230px;
    height:100%;
}
.teach_item li{
    padding-top:20px;
    height:100%;
    width:50%;
    float:left;
    display: block;
}
.teach_item li div{
    background-color: #FFF;
    width:585px;
    margin: 0 auto 32px auto;
    position: relative;
    height:190px;
    border:#EDEDED solid 1px;
}
.teach_item li div:hover{
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    transition-duration: 0.5s;
    box-shadow: 0 30px 30px -10px #D7D9E8 ;
}
.teach_item li div a:hover{
    color:#1E82D7;
}
.teach_title{
    font-size:24px;
    line-height: 40px;
    font-weight: bold;
    margin-left:20px;
    margin-top: 42px;
    width:350px;
    float: left;
    color:#000;
}
.teach_con{
    float: left;
    color:#717171;
    line-height: 24px;
    margin-left:20px;
    margin-top:20px;
    width:308px;
}
.teach_item li div img{
    position: absolute;
    width:163px;
    display: block;
<<<<<<< HEAD
    margin-right: 20px;
    margin-left:70px;
}
.teach_item li div a img{
    width:100%;
    vertical-align: middle;
}
@media screen and (max-width: 1230px) {
    .teach_item{
        width:90%;
        margin:auto;
    }
    .teach_item li div{
        width:95%;
        margin:0 2.5% 32px 2.5%;
    }
    .teach_item li div a:first-child{
        margin-left:20px;
    }
    .teach_title{
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px){
    .teach_title{
        font-size: 18px;
    }
    .teach_item li div a:first-child{
        width:120px;
        margin-left:15px;
    }
}
@media screen and (max-width: 768px){
    .teach_list{
        padding:0;
        padding-top:12px;
    }
    .teach_item li{
        padding:0;
        width:50%;
    }
    .teach_item li div{
        width:96%;
        max-width: none;
        margin:2%;
        height: 90px;
    }
    .teach_item li div:hover{
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
        transition-duration: 0.5s;
    }
    .teach_item li div a:first-child{
        width:90px;
        line-height: 90px;
        margin-right: 12px;
        margin-left:12px;
    }
    .teach_item li div a img{
        width:90px;
    }
    .teach_title{
        font-size: 14px;
        font-weight: normal;
        height: 20px;
        line-height: 20px;
        margin-left:12px;
        margin-top:10px;
    }
    .teach_con{
        font-size:10px;
        line-height: 15px;
        margin-left:12px;
        margin-top:8px;
        height:45px;
    }
=======
    height:123px;
    top:30px;
    right:20px;
>>>>>>> parent of 1044068... fixed
}
@media screen and (max-width:620px){
    .teach_item li div a:first-child{
        width:40%;
        line-height: 90px;
        margin-right: 12px;
        margin-left:12px;
    }
    .teach_item li div a img{
        width:100%;
    }
}
@media screen and (max-width: 426px){
    .teach_item li{
        width:100%;
    }
    .teach_item li div  a:first-child{
        width:90px;
    }
}
/*end teach*/

/*team*/
.team_list{
    padding:55px 0 75px 0;
    clear:both;
    display: block;
    background-color: #F8FaFC;
    height:100%;
    width:100%;
    overflow: auto;
}
.team_item{

    width:1224px;
    height:100%;
}
.team_item li{
    width:25%;
    margin-bottom:20px;
    float: left;
}

.team_item li div{
<<<<<<< HEAD
    max-width:280px;
    height: 450px;
    margin:auto;
=======
    width:282px;
    height: 429px;
>>>>>>> parent of 1044068... fixed
    border-radius: 10px;
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 10px 5px #ECEEF1;
}
.team_item li div:before{
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.team_head img{
    display: block;
    width: 120px;
    height: 120px;
    margin:25px auto 18px auto;
    border-radius: 120px;
}
.team_name{
    font-size: 24px;
    color:#1E82D7;
    text-align: center;
    width:120px;
    margin: auto;
    display: block;
}
.team_posi{
    display: block;
    color:#5C5C5C;
    width:200px;
    text-align: center;
    margin:15px auto 22px auto;
}
.team_desc{
    white-space: pre;
    display: block;
    margin:0 30px 30px 30px;
    color:#878787;
    line-height: 24px;
<<<<<<< HEAD
    overflow: hidden;
    height:192px;
=======
>>>>>>> parent of 1044068... fixed
}
.team_desc:hover{
    color:#1E82D7;
}
<<<<<<< HEAD
@media screen and (max-width: 1200px) {
    .team_item li div{
        height:420px;
    }
    .team_item li {
        width: 31%;
        margin:1%;
    }
    .team_list .container{
        width:90%;
    }
    .team_desc{
        height:168px;
    }
}
@media screen and (max-width: 768px) {
    .team_list .container{
        width:100%;
    }
    .team_list {
        padding: 30px 0;
    }
    .team_item li {
        width: 50%;
        margin:0;
        margin-bottom:10px;
    }
    .team_item li div{
        width:90%;
        height:auto;
        padding-bottom: 12px;
    }
    .team_head img{
        width:100px;
        height:100px;
        border-radius: 100px;
        margin:16px auto 8px auto;
    }
    .team_name{
        font-size:15px;
    }
    .team_posi{
        text-align: center;
        font-size: 10px;
        margin:12px auto 14px auto;
    }
    .team_desc{
        font-size:9px;
        line-height: 20px;
        margin:0 12px;
        height: 100px;
    }
}
@media screen and (max-width: 425px){
    .team_desc{
        height: 180px;
    }
}
/*end team*/


/*empty*/
.empty{
    height:250px;
    text-align: center;
    line-height: 250px;
    font-size:20px;
}
/*end empty*/

=======
/*end team*/


>>>>>>> parent of 1044068... fixed
/*video*/
.video_list{
    padding:55px 0 56px 0;
    clear:both;
    display: block;
    background-color: #F7F9FC;
    height:100%;
    width:100%;
    overflow: auto;
}
.video_item{
    width:1220px;
    height:100%;
}
.video_item li{
    width:25%;
    margin-bottom:25px;
    float: left;
}

.video_item li div{
<<<<<<< HEAD
    cursor: pointer;
    margin:auto;
    width:95%;
    border-radius:  10px 10px 0 0 ;
=======
    width:285px;
    border-radius: 10px;
>>>>>>> parent of 1044068... fixed
    background-color: #FFF;
    overflow: hidden;
    border: #E8E8E8 solid 1px;
}
.video_item li div:before{
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.video_item li div a:hover{
    color:#1E82D7;
}
.video_item li div a img{
    width:100%;
    border-radius: 10px 10px 0 0 ;
}
.video_name{
    display: block;
    font-size:18px;
    color:#3d3d3d;
    margin:22px 15px;
}
.video_desc{
    display: block;
    color:#8b8b8b;
    height:72px;
    line-height: 24px;
    margin:0 15px 22px 15px;
}
.video_play{
    position: relative;
}
.play{
    display: block;
    position: absolute;
    top:0;
    left:0;
}
.video_play:hover .play{
    display: none;
}
.played{
    display: none;
}
.video_play:hover .played{
    display: block;
    position: absolute;
    top:-157px;
    left:0;
}
/*end video*/

/*content*/
<<<<<<< HEAD
.content .container{
    overflow: hidden;
    width:1205px;
    max-width: 1205px;
=======
.content{

>>>>>>> parent of 1044068... fixed
}
.conTitle{
    margin-top:45px;
    font-size: 32px;
    color:#1e82d7;
    font-weight: bold;
}
.conInfo{
    margin-top:25px;
    color:#8b8b8b;
}
.conArt p{
    margin-bottom:32px;
}
.conArt{
    color:#4a4a4a;
    font-size:16px;
    line-height: 32px;
    margin:40px auto 0px auto;
}
.conart p{
    width: 100%;
    margin-bottom:32px;
}
.conart{
    color:#4a4a4a;
    font-size:16px;
    line-height: 32px;
    margin:40px auto 0px auto;
}

.share{
    color:#4a4a4a;
    font-size:16px;
    height:32px;
    line-height: 32px;
    margin-bottom:70px;
    float:right;
}
.share p {
    margin-right:4px;
    display: inline;
}
.social-share{
    float:right;
}
<<<<<<< HEAD
@media screen and (max-width:1230px){
    .content{
        width:90%;
        margin:0 5%;
    }

}
@media screen and (max-width:786px){
    .share{

        display:none;
    }
    .content{
        width:96%;
        margin:0 2%;
    }
    .conTitle{
        margin:20px auto 20px auto;
        font-size: 18px;
        line-height: 24px;
    }
    .conInfo{
        margin:0 0 20px 0;
        font-size: 11px;
        line-height: 18px;
    }
    .conArt{
        margin:0 0 45px 0;
        font-size: 13px;
        line-height: 26px;
    }
    .conart{
        margin:0 0 45px 0;
        font-size: 13px;
        line-height: 26px;
    }
    .share{
        display:none;
    }
}
=======
>>>>>>> parent of 1044068... fixed
/*end content*/
.swiper-slide, .swiper-wrapper {
    height: auto !important;
}