<head>
    <meta charset="UTF-8">
    <title>厚朴工作室图书设备管理系统</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="厚朴,厚朴工作室,厚朴工作室图书设备管理系统">
    <meta name="description" content="厚朴工作室图书设备管理系统">
    <link rel="stylesheet" href="/hopelibrary/css/main.css">
    <link rel="stylesheet" href="/hopelibrary/js/hlayer/hlayer.css">
    <script src="http://202.116.83.50/hope/Skin/js/jquery.min.js"></script>
 <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="shortcut icon" href="http://202.116.83.50/hope/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://202.116.83.50/hope/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="http://202.116.83.50/hope/sitesSkin/hopeRebuild/dist/images/favicon/favicon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="http://202.116.83.50/hope/sitesSkin/hopeRebuild/dist/images/favicon/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="http://202.116.83.50/hope/sitesSkin/hopeRebuild/dist/images/favicon/favicon-48.png" sizes="48x48">
    <!-- touch-icon 在 iOS 中用于桌面图标-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://202.116.83.50/hope/sitesSkin/hopeRebuild/dist/images/favicon/apple-touch-icon-57.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="http://202.116.83.50/hope/sitesSkin/hopeRebuild/dist/images/favicon/apple-touch-icon-114.png" />

    <link rel="apple-touch-icon" sizes="72x72" href="http://202.116.83.50/hope/sitesSkin/hopeRebuild/dist/images/favicon/apple-touch-icon-72.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="http://202.116.83.50/hope/sitesSkin/hopeRebuild/dist/images/favicon/apple-touch-icon-144.png" />

    <link rel="apple-touch-icon" sizes="60x60" href="http://202.116.83.50/hope/sitesSkin/hopeRebuild/dist/images/favicon/apple-touch-icon-60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="http://202.116.83.50/hope/sitesSkin/hopeRebuild/dist/images/favicon/apple-touch-icon-120.png" />

    <link rel="apple-touch-icon" sizes="76x76" href="http://202.116.83.50/hope/sitesSkin/hopeRebuild/dist/images/favicon/apple-touch-icon-76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="http://202.116.83.50/hope/sitesSkin/hopeRebuild/dist/images/favicon/apple-touch-icon-152.png" />

</head>
