<div class="banner-container" >
  <header class="banner" >
    <div class="banner-left" >
      <img class="logo" src="./images/icon/logo.png" alt="logo" >
      <img class="logo-mobile" src="./images/icon-2x/logo_mobile.png" alt="logo" >
      <img class="web-name" src="./images/icon/name.png" alt="name" >
      <img class="web-name-mobile" src="./images/icon-2x/name_mobile.png" alt="name" >
    </div>
      <div class="banner-right" >
        <img src="./images/icon/banner_r.png" alt="" >
      </div>
  </header>
</div>
