<div class="bottom-container" >
  <div class="bottom" >
    <ul class="bottom-mobile" >
      <li><a href="##" >表格下载</a></li>
      <li><a href="##" >会议申请</a></li>
      <li><a href="##" >友情链接</a></li>
    </ul>
    <p class="bottom-left" >copyright ©️ 2009 广东省化学会</p>
    <div class="bottom-right" >
      <a class="mob" href="ce.sysu.edu.cn/hope" >◇</a>
      <a href="http://ce.sysu.edu.cn/hope" >厚朴工作室</a>
      <a class="mob" href="ce.sysu.edu.cn/hope" >◇</a>
      <span>设计</span>
    </div>
  </div>
</div>
