<div class="footer-container" >
  <footer class="footer" >
    <div class="footer-left" >
      <ul class="webhref" >
        <span>常用网站</span>
        <li><a href="##" title="中国化学会" >中国化学会</a></li>
        <li><a href="##" title="中国化学会" >中国化工网</a></li>
        <li><a href="##" title="中国化学会" >专利信息网</a></li>
        <li><a href="##" title="中国化学会" >上海有机所</a></li>
      </ul>
      <ul class="webhref" >
        <span>常用工具</span>
        <li><a href="##" title="中国化学会" >分析仪器网</a></li>
        <li><a href="##" title="中国化学会" >化工字典</a></li>
        <li><a href="##" title="中国化学会" >化学在线</a></li>
        <li><a href="##" title="中国化学会" >色谱网</a></li>
      </ul>
      <ul class="webhref" >
        <span>关于我们</span>
        <li><a href="##" title="中国化学会" >联系我们</a></li>
        <li><a href="##" title="中国化学会" >网站地图</a></li>
        <li><a href="##" title="中国化学会" >中山大学</a></li>
        <li><a href="##" title="中国化学会" >中大化院</a></li>
      </ul>
    </div>
    <div class="footer-center" >
      <a href="##" title="" ><img src="./images/icon/logo.png" alt="" ></a>
    </div>
    <div class="footer-right" >
      <img src="./images/icon/diamond.png" alt="" >
      <span>地址：广东省广州市新港西路135号</span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中山大学化学学院办公楼内</span>
    </div>
  </footer>
</div>
