<div class="nav-container" >
  <nav class="nav" >
    <ul class="nav-item" >
      <li class="nav-list-item" >
        <a class="nav-list-title" href="##" >学会概况</a>
        <ul class="nav-list-drop" >
          <li><a href="##" >学会简介</a></li>
          <li><a href="##" >学会章程</a></li>
          <li><a href="##" >组织机构</a></li>
          <li><a href="##" >联系我们</a></li>
        </ul>
      </li>

      <li class="nav-list-item" >
        <a class="nav-list-title" href="##" >新闻中心</a>
        <ul class="nav-list-drop" >
          <li><a href="##" >学会简介</a></li>
          <li><a href="##" >学会简介</a></li>
        </ul>
      </li>

      <li class="nav-list-item" >
        <a class="nav-list-title" href="##" >化学竞赛</a>
        <ul class="nav-list-drop" >
          <li><a href="##" >学会简介</a></li>
          <li><a href="##" >学会简介</a></li>
          <li><a href="##" >学会简介</a></li>
        </ul>
      </li>

      <li class="nav-list-item" >
        <a class="nav-list-title" href="##" >会员之家</a>
        <ul class="nav-list-drop" >
          <li><a href="##" >学会简介</a></li>
          <li><a href="##" >学会简介</a></li>
        </ul>
      </li>

      <li class="nav-list-item" >
        <a class="nav-list-title" href="##" >科学研究</a>
        <ul class="nav-list-drop" >
          <li><a href="##" >学会简介</a></li>
        </ul>
      </li>

      <li class="nav-list-item" >
        <a class="nav-list-title" href="##" >科普园地</a>
        <ul class="nav-list-drop" >
          <li><a href="##" >学会简介</a></li>
        </ul>
      </li>
    </ul>
    <div class="search-container" >
      <form class="search" action="##" >
        <input id="search" type="text" placeholder="站内搜索" />
        <input id="submit" type="submit" value="" />
        <!--        <img src="./images/icon/search.png" alt="搜索" > -->
      </form>
    </div>
  </nav>
</div>
