<div class="m-nav-container" >
  <div class="m-top-container" >
    <div class="m-top" >
      <form class="m-search" action="##" >
        <input id="m-search" type="text" placeholder="站内搜索" />
        <img src="images/icon-2x/search.jpg" alt="" >
        <input id="m-submit" type="submit" value="" />
      </form>
      <img id="m-login" src="images/icon-2x/login_mobile.png" alt="登录" >
      <img id="m-nav-icon" src="images/icon-2x/nav_icon_mobile.png" alt="导航" >
    </div>
  </div>
  <div class="m-nav" >
    <ul class="m-nav-item" >
      <li class="m-nav-list" ><a href="##" >学会概况</a></li>
      <li class="m-nav-list" ><a href="##" >新闻中心</a></li>
      <li class="m-nav-list" ><a href="##" >化学竞赛</a></li>
      <li class="m-nav-list" ><a href="##" >会员之家</a></li>
      <li class="m-nav-list" ><a href="##" >科学研究</a></li>
      <li class="m-nav-list" ><a href="##" >科普园地</a></li>
    </ul>
  </div>
</div>
